django-autoslug==1.9.3
django-braces
django-extensions==1.7.9
django-simple-history
django==1.11.5
bode-django-error-pages
mysql-python
pillow
pyopenssl
requests
requests[security]
social-auth-app-django==1.2.0
uwsgi