$prime: rgba(255, 41, 106, 1);
$primeHighlight: rgb(152, 20, 88);

$azul: rgba(17, 28, 60, 1);
$azulClaro: rgba(33, 239, 233, 1);
$azulObjeto: rgba(20, 92, 237, 1);

$cinza: rgb(82, 82, 82);

$preto: rgb(0,0,0);
$branco: rgb(255,255,255);

$github: rgb(51, 51, 51);
$twitter: rgb(84, 171, 235);
$facebook: rgb(58, 89, 152);
$google: rgb(219, 72, 18);
