$prime: rgba(255, 41, 106, 1);
$primeHighlight: rgb(152, 20, 88);
$primeCinza: rgba(255, 80, 134, 1);
$primeBarra: rgba(255, 66, 123, 1);

$azul: rgba(17, 28, 60, 1);
$azulClaro: rgba(33, 239, 233, 1);

$azulComunidadeInputBg: rgba(59, 70, 95, 1);
$azulBarra: rgba(40, 50, 81, 1);

$azulObjeto: rgba(20, 92, 237, 1);
$azulObjetoBarra: rgba(35, 105, 244, 1);

$azulPerfilInputBg: rgba(111, 244, 241, 1);
$azulPerfilBarra: rgba(42, 240, 236, 1);

$cinza: rgb(82, 82, 82);

$preto: rgb(0,0,0);
$branco: rgb(255,255,255);

$github: rgb(51, 51, 51);
$twitter: rgb(84, 171, 235);
$facebook: rgba(61, 97, 173, 1);
$facebook_bg: rgba(54, 88, 153, 1);

$google: rgb(219, 72, 18);
