@import '_screens';
@import '_colors';
@import '_fonts';

$gotham: 'gotham', sans-serif;

// Navbar
.navbar-default {
  background-color: transparentize($branco, .9);
  border: 0;
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    height: 70px;
  }

  .navbar-header {
    .navbar-toggle {
      border-radius: 3px;
      border-color: $azulClaro;
      color: $branco;
      padding: 6px 20px 5px;
      transition: color 0.3s ease;

      &:hover, &:focus {
        border-color: $azulClaro;
        background-color: $azulClaro;
        color: $azul;
      }
    }
  }

  .navbar-collapse {
    text-align: center;

    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;

      a {
        color: $branco;
        font-family: $gotham;
        letter-spacing: 0.25em;
        font-size: 14px;
        text-transform: uppercase;
        transition: color 0.3s ease;

        @media (min-width: $screen-sm-min) {
          padding: 25px 35px;
        }

        &:hover, &:focus {
          color: $azulClaro;
          outline: 0;
        }
      }
    }
  }
}

.content{
  margin-top: -70px;
}

.inline-block{
  display: inline-block;
}

// Titles
h3, h4{
  color: $branco;
  text-transform: uppercase;
  font-family: $gotham;
  letter-spacing: 0.2em;
}
h3{font-size: 14px;}
h4{font-size: 12px;}

// Button Prospera
.btn-prospera{
  background-color: $azul;
  color: $branco;
  border-radius: 0;
  text-transform: uppercase;
  font-family: $gotham;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 0.45em;
  padding: 15px 22px;
}

// Maring
.prospera-margin{
  margin: 90px auto;
}

.content {
    // Landing Page
    #landing-page{
      background-image: url(../img/background.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-color: $prime;

      h3{
        font-weight: normal;
      }

      .presentation-content{
        max-width: 900px;
        margin: auto;
        padding: 80px 0;

        .logo{
          display: block;
          margin: 0 auto;
          padding-top: 45px;
          margin-bottom: 60px;
        }
        button{
          margin: 10px;
          width: 215px;
        }
        .prsps-counter{
          background: white;
          width: 382px;
          margin: auto;
          padding: 8px;
          img{
            margin-right: 12px;
          }
          p{
            margin: 0px;
            font-family: $gotham;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 0.2em;
            vertical-align: middle;
          }
        }
        .prsps-dist{
          .table {
            border: 0.5px solid $prime;
          }
          .table-bordered > thead > tr > th,
          .table-bordered > tbody > tr > th,
          .table-bordered > tfoot > tr > th,
          .table-bordered > thead > tr > td,
          .table-bordered > tbody > tr > td,
          .table-bordered > tfoot > tr > td {
             border: 0.5px solid $prime;
          }
          th{
            color: $branco;
            font-family: $gotham;
            font-weight: 300;
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
          }
          td{
            background-color: $branco;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-size: 12px;
            padding: 20px;
          }
        }
      }

      .quemsomos-content{
        padding: 80px 0;
        background-color: $azulClaro;

        h3{
          font-weight: 500;
          color: $preto;
        }
        p{
          font-family: $gotham;
          font-weight: 400;
          font-size: 12px;
          letter-spacing: 0.05em;
          line-height: 2em;
        }
        .text-container, .companies-container, .video-container{
          margin: auto;
          max-width: 900px;
        }
        .video-container{
          margin: auto;
          max-width: 700px;
        }
        .text-container{
          max-width: 1200px;
        }
      }

      .contato-content{
        padding: 80px 0;
        background-image: url(../img/background-contato.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        h3{
          margin: 0;
          margin-bottom: 50px;
        }
        p{margin-bottom: 0;}
        i{
          font-size: 30px;
          vertical-align: sub;
        }
        .row{
          margin: 0;
        }
        .qr-code{
          margin: 35px 0;
        }
        .logo{
          margin: 35px 0;
        }
      }
    }

    hr{
      width: 85%;
      border: 0;
      height: 1px;
      background: $preto;
      opacity: 0.5;
    }

    // Forms
    .form-control {
        position: relative;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

    // Login
    .login {
        max-width: 400px;
        margin: 0 auto;

        input#usuario {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        input#senha {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        hr{
            left: 0;
            right: 0;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .btn-github, .btn-twitter, .btn-facebook{
            display: inline-block;
        }
        .btn-github{
            background-color: $github;
            border-color: $cinza;
        }
        .btn-twitter{
            background-color: $twitter;
            border-color: $cinza;
        }
        .btn-facebook{
            background-color: $facebook;
            border-color: $cinza;
        }
        .btn-google{
            background-color: $google;
            border-color: $cinza;
        }
    }

    // Create Account
    .create-account {
        max-width: 400px;
        margin: 0 auto;

        input#usuario, input#senha {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        input#repetir-senha {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    // Create Nos
    .nos-create{
        max-width: 400px;
        margin: 0 auto;
    }

    // Create Object
    .object-create{
        max-width: 400px;
        margin: 0 auto;
    }
}
