@import '_screens';
@import '_colors';
@import '_fonts';

$gotham: 'gotham', sans-serif;


// Body Colors
body.landing-page, body.comunidade-detail, body.login, body.registro{
  background-color: $prime;
  .dropdown-menu{
    background-color: $prime;
  }
}
body.comunidades{
  background-color: $azul;
  .dropdown-menu{
    background-color: $azul;
  }
}
body.objeto-detail{
  background-color: $azulObjeto;
  .dropdown-menu{
    background-color: $azulObjeto;
  }
}
body.no-detail{
  background-color: $azulClaro;
  .dropdown-menu{
    background-color: $azulClaro;
  }
  .navbar-default .navbar-collapse .navbar-nav a:hover, .navbar-default .navbar-collapse .navbar-nav a:focus {
    color: $azul;
  }
}

// Navbar
.navbar-default {
  background-color: transparentize($branco, .9);
  border: 0;
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    height: 70px;
  }

  .navbar-header {
    .navbar-toggle {
      border-radius: 3px;
      border-color: $azulClaro;
      color: $branco;
      padding: 6px 20px 5px;
      transition: color 0.3s ease;

      &:hover, &:focus {
        border-color: $azulClaro;
        background-color: $azulClaro;
        color: $azul;
      }
    }
  }

  .navbar-collapse {
    text-align: center;

    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;

      a {
        color: $branco;
        font-family: $gotham;
        letter-spacing: 0.25em;
        font-size: 14px;
        text-transform: uppercase;
        transition: color 0.3s ease;

        @media (min-width: $screen-sm-min) {
          padding: 25px 35px;
        }

        &:hover, &:focus {
          color: $azulClaro;
          outline: 0;
          // background-color: $prime;
        }
      }
      .open{
        a{
          background-color: transparent;
        }
      }
      .dropdown-menu{
        border: solid 1px $branco;
        a{
          padding: 10px;
        }
      }
    }
  }
}

.content{
  margin-top: -70px;
}

.inline-block{
  display: inline-block;
}

img.voltar{
  padding: 0;
  margin-top: 20px;
  margin-bottom: 40px;
}

.objeto-imagem{
  border-radius: 50%;
}

// Titles
h1, h2, h3, h4{
  color: $branco;
  text-transform: uppercase;
  font-family: $gotham;
  letter-spacing: 0.2em;
}
h1{font-size: 24px;}
h2{font-size: 18px;}
h3{font-size: 14px;}
h4{font-size: 12px;}

.form-control{
  height: 46px;
}

// Button Prospera
.btn-prospera{
  background-color: $azul;
  color: $branco;
  border-radius: 0;
  text-transform: uppercase;
  font-family: $gotham;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 0.45em;
  padding: 15px 22px;

  &:hover, &:focus{
    color: $azulClaro;
  }
}

.btn-edit{
  background-color: transparent;
  border: 1px solid;
  padding: 10px 14px;
  font-size: 10px;
}

// Maring
.prospera-margin{
  margin: 90px auto;
}

.content {
    // Inputs
    input{
      border-radius: 0px;
      border: 0;
      color: $branco;
    }

    // Landing Page
    #landing-page{
      background-image: url(../img/background.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-color: $prime;

      h3{
        font-weight: normal;
      }

      .presentation-content{
        margin: auto;
        padding: 80px 0;

        .logo{
          display: block;
          margin: 0 auto;
          padding-top: 45px;
          margin-bottom: 60px;
        }
        a.btn-prospera{
          margin: 10px;
          width: 215px;
        }
        .prsps-counter{
          background: white;
          width: 382px;
          margin: auto;
          padding: 8px;
          img{
            margin-right: 12px;
          }
          p{
            margin: 0px;
            font-family: $gotham;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 0.2em;
            vertical-align: middle;
          }
        }
        .prsps-dist{
          .table {
            border: 0.5px solid $prime;
          }
          .table-bordered > thead > tr > th,
          .table-bordered > tbody > tr > th,
          .table-bordered > tfoot > tr > th,
          .table-bordered > thead > tr > td,
          .table-bordered > tbody > tr > td,
          .table-bordered > tfoot > tr > td {
             border: 0.5px solid $prime;
          }
          th{
            color: $branco;
            font-family: $gotham;
            font-weight: 300;
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
          }
          td{
            background-color: $branco;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-size: 12px;
            padding: 20px;
          }
        }
      }

      .quemsomos-content{
        padding: 80px 0;
        background-color: $azulClaro;

        h3{
          font-weight: 500;
          color: $preto;
        }
        p{
          font-family: $gotham;
          font-weight: 400;
          font-size: 12px;
          letter-spacing: 0.05em;
          line-height: 2em;
        }
        .text-container, .companies-container, .video-container{
          margin: auto;
        }
        .video-container{
          margin: 70px auto;
        }
      }

      .contato-content{
        padding: 80px 0;
        background-image: url(../img/background-contato.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        h3{
          margin: 0;
          margin-bottom: 50px;
        }
        p{margin-bottom: 0;}
        i{
          font-size: 30px;
          vertical-align: sub;
        }
        .row{
          margin: 0;
        }
        .qr-code{
          margin: 35px 0;
        }
        .logo{
          margin: 35px 0;
        }
      }
    }

    // Comunidades
    #nos{
      background-color: $azul;

      p{
        font-family: $gotham;
        font-weight: 400;
        font-size: 12px;
        color: $branco;
        letter-spacing: 0.05em;
      }

      .descricao-content{
        margin: auto;
        padding: 80px 0;

        p{
          line-height: 2em;
          margin-top: 38px;
          padding-right: 30px;
        }
      }
      .comunidades-content{
        margin: auto;

        .comunidades-list{
          padding: 0;
          .thumbnail{
            background-color: $azul;
            border: 1px solid $azul;

            .plus{
              font-size: 74px;
              font-weight: bold;
              color: $azul;
            }
            .caption{
              // color: $branco;
            }
            .button-container{
              background-color: $branco;
              padding: 58px 0;
              h2{
                color: $azul;
                letter-spacing: .1em;
              }
            }
          }
        }
      }
    }

    // Basic create
    .create{
      .upload-background{
        background: white;
        position: relative;
        width: 350px;
        height: 220px;
        img{
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
        &.round{
          width: 220px;
          border-radius: 50%;
          img{border-radius: 50%;}
        }
      }
      .ex{
        color: $branco;
        text-transform: uppercase;
        font-family: $gotham;
        font-weight: 200;
        font-size: 10px;
      }
      input[type="file"] {
        display: none;
      }
      .file-upload {
        background-color: $azulClaro;
        color: $preto;
        font-weight: 300;
        font-size: 14px;
        display: inline-block;
        cursor: pointer;
      }
    }

    // Comunidade Create
    .nos-create{
      .descricao-content{
        margin: auto;
        padding: 80px 0;
      }
      label{
        font-family: $gotham;
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        color: $branco;
      }
      input{
        background-color: $azulCinza;
        border-radius: 0px;
        border: 0;
        color: $branco;
      }
      button.btn-prospera{
        background-color: $azulClaro;
        color: $preto;
        font-weight: 300;
      }
    }



    .title{
      font-family: $gotham;
      font-weight: 600;
      font-size: 48px;
      color: $branco;
    }
    .owner{
      font-family: $gotham;
      font-weight: 200;
      font-size: 12px;
      color: $branco;
      a{
        text-decoration: underline;
        color: $branco;
      }
    }
    .description{
      margin-top: 40px;
    }



    // Detalhes de Comunidade
    #nos-detail{
      background-color: $prime;

      p{
        font-family: $gotham;
        font-weight: 300;
        font-size: 12px;
        color: $branco;
        letter-spacing: 0.05em;
        line-height: 2em;
      }

      .descricao-content{
        margin: auto;
        padding-top: 80px;
      }

      .objetos-content{
        margin: auto;

        h1{
          margin: 45px auto;
        }

        .objeto-imagem{
          width: 120px;
          height: 120px;
        }

        .thumbnail-round {
          display: block;
          height: 120px;
          width: 120px;
          border-radius: 50%;
          background-color: #fff;

          .plus{
            font-size: 62px;
            font-weight: 700;
            color: $prime;
            margin-bottom: 0;
          }
        }
        p.sub{
          line-height: 1.4em;
          margin-top: 6px;
          text-transform: uppercase;
        }
      }
      .contato-content{
        margin: auto;
        margin-top: 80px;
        background-color: transparentize($branco, .9);
        height: 70px;
        .item-contato{
          min-width: 128px;
          color: $branco;
          font-size: 33px;
          vertical-align: bottom;
          margin: 20px 5px;
        }
      }
    }

    // Objetos
    #object-detail{
      .descricao-content{
        margin: auto;
        padding-top: 80px;

        h1.objeto-title{
          font-size: 45px;
          margin-top: 100px;
        }
        .objeto-imagem{
          max-width: 360px;
        }
      }
      p{
        font-family: $gotham;
        font-weight: 300;
        font-size: 12px;
        color: $branco;
        letter-spacing: 0.05em;
        line-height: 2em;
      }
      .contato-content{
        margin: auto;
        margin-top: 80px;
        background-color: transparentize($branco, .9);
        height: 70px;
        .item-contato{
          min-width: 128px;
          color: $branco;
          font-size: 33px;
          vertical-align: bottom;
          margin: 20px 5px;
        }
      }
    }

    // Objeto Create
    .object-create{
      .descricao-content{
        margin: auto;
        padding: 80px 0;
      }
      label{
        font-family: $gotham;
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        color: $branco;
      }
      input{
        background-color: $primeCinza;
        border-radius: 0px;
        border: 0;
        color: $branco;
      }
      button.btn-prospera{
        background-color: $azulClaro;
        color: $preto;
        font-weight: 300;
      }
    }

    // No
    #no-detail{
      .descricao-content{
        margin: auto;
        padding-top: 80px;

        .voltar{
          filter: grayscale(100%);
        }

        .no-imagem{
          border-radius: 50%;
          width: 160px;
        }
        .no-qr{
          width: 130px;
        }
        .qr-title{
          font-family: $gotham;
          font-size: 12px;
          letter-spacing: 0.05em;
          color: $azul;
          text-transform: uppercase;
        }
        .no-title{
          font-weight: 700;
          font-size: 40px;
          margin-top: 50px;
          overflow: hidden;
          word-wrap: break-word;
        }
        h1 {
          color: $azul;
        }
        p.quem-sou{
          font-family: $gotham;
          font-weight: 400;
          font-size: 12px;
          color: $azul;
          letter-spacing: 0.05em;
          line-height: 2em;
        }
        .btn-edit{
          color: $azul;
        }
      }
      h3 {
        color: $azul;
      }
      .prsps-dist{
        .table {
          border: 0.5px solid $azulClaro;
        }
        .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
           border: 0.5px solid $azulClaro;
        }
        th{
          color: $azul;
          font-family: $gotham;
          font-weight: 300;
          font-size: 10px;
          text-transform: uppercase;
          text-align: center;
        }
        td{
          color: $azul;
          background-color: $branco;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          font-size: 12px;
          padding: 20px;
          vertical-align: middle;

          span{
            padding: 12px;
            border-radius: 10%;
            &.in{
              background-color: $azulClaro;
              color: $azul;
            }
            &.out{
              background-color: $azul;
              color: $branco;
            }
          }
        }
      }
    }

    // Comunidade Create
    .no-edit{
      .descricao-content{
        margin: auto;
        padding: 80px 0;
      }
      h1{
        color: $azul;
      }
      .ex{
        color: $azul;
      }
      label{
        font-family: $gotham;
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        color: $azul;
      }
      input{
        background-color: $azulclarin;
        border-radius: 0px;
        border: 0;
        color: $azul;
      }
      button.btn-prospera, .file-upload{
        background-color: $prime;
        color: $branco;
        font-weight: 300;
      }
    }


    #login, #registro{
      margin-top: 80px;
    }

    // // Login
    // .login {
    //     .btn-github, .btn-twitter, .btn-facebook{
    //         display: inline-block;
    //     }
    //     .btn-github{
    //         background-color: $github;
    //         border-color: $cinza;
    //     }
    //     .btn-twitter{
    //         background-color: $twitter;
    //         border-color: $cinza;
    //     }
    //     .btn-facebook{
    //         background-color: $facebook;
    //         border-color: $cinza;
    //     }
    //     .btn-google{
    //         background-color: $google;
    //         border-color: $cinza;
    //     }
    // }

  // Modal
  #modalLogin, #modalRegister{
    .modal-header {
      border: 0;
    }
    .modal-content{
      border-radius: 0px;
      .close {
        z-index: 99;
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: 100;
        color: $preto;
        opacity: 1;
        padding: 18px;
        border: 7px solid $branco;
        background-color: $branco;
        background-image: url('../img/close_dark.png');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center center;

        &:focus {
          outline: 0;
        }
      }
      .modal-body{
        padding: 35px 120px;
        h2{
          margin-top: 40px;
          color: $preto;
        }
        input{
          font-family: $gotham;
          letter-spacing: 0.2em;
          color: $preto;
          border: 1px solid #000;
          height: 50px;
        }
        form{
          margin-top: 40px;
        }
        .forgot{
          text-align: left;
          a{
            font-family: $gotham;
            color: $preto;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
