{% extends 'base.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% if form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for err in form.non_field_errors %}
          {{ err }}
        {% endfor %}
      </div>
    {% endif %}
    {% csrf_token %}

    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <button type="submit">Login</button>
  </form>
  <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
  <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>
  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
{% endblock %}
