{% extends "base.html" %}
{% load staticfiles %}


{% block bodyclass %}class="landing-page"{% endblock %}
{% block content %}

<div id="landing-page">
  <section class="presentation-content">
    <img class="logo" src="{% static 'img/prospera-logo.png' %}" alt="Prospera">

    <div class="prospera-margin text-center">
      {% if not user.id %}
      <a id="btn-login" class="btn btn-prospera btn-lg" role="button">Entrar</a>
      <a id="btn-registro" class="btn btn-prospera btn-lg" role="button">Criar Conta</a>
      {% endif %}
    </div>

    <div class="prospera-margin text-center">
      <h3>Emissão de Prospers até agora:</h3>
      <div class="prsps-counter">
        <i class="fa fa-circle-o-notch fa-spin loading-spinner invert" data-url=""></i>
        <!-- {% include 'pages/partial_landing_total.html' %} -->
      </div>
    </div>

    <h3 class="text-center">Distribuição, Movimentação e Contribuição</h3>

    <div class="prospera-margin prsps-dist text-center container" style="overflow-x:auto;">
      <i class="fa fa-circle-o-notch fa-spin loading-spinner" data-url=""></i>
      <!-- {% include 'pages/partial_landing_history.html' %} -->
    </div>
  </section>

  <section id="quem-somos" class="quemsomos-content">
    <h3 class="text-center">+ QUEM SOMOS +</h3>
    <div class="video-container container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/118732545" ></iframe>
          </div>
        </div>
      </div>

      <div class="text-container row">
        <p class="prospera-margin col-md-6 text-justify">Esse novo modelo de organização distribuída, deve ser construído sob um novo conjunto de princípios, opostos aos da OIM, sob um novo paradigma que priorize também a eficácia e não só a eficiência, sem hierarquia e funções pré-definidas, sem processos decisórios e seletivos, sem patrimônio ou fundos comuns administrados por uma equipe ou grupo. Uma organização aberta e inclusiva, transparente e que segue um modelo exponencial e abundante, com foco na evolução bem como na sobrevivência, uma organização que prospera.</p>
        <p class="prospera-margin col-md-6 text-justify">As novas tecnologias da informação e comunicação móvel, principalmente a Internet, tem atuado fortemente nessa equação e colocado as Organizações de Modelo Industrial (OMI) em cheque, uma vez que permitem modelos distribuídos de organização, mostrando que a facilidade de conexão e acesso a informações tem um efeito devastador nos custos de transação, permitindo que a busca direta ao mercado seja feita com maior eficiência, velocidade, e eficiência que aquela feita por meio de uma “Firma”3.</p>
      </div>

      <div class="companies-container row">
        <div class="col-md-2 col-md-offset-1 text-center">
          <img src="{% static 'img/logo-criptotransfer.jpg' %}" alt="Criptotransfer">
        </div>
        <div class="col-md-2 text-center">
          <img src="{% static 'img/logo-blockpub.jpg' %}" alt="Blockpub">
        </div>
        <div class="col-md-2 text-center">
          <img src="{% static 'img/logo-blockchainrevolution.jpg' %}" alt="Blockchain Revolution">
        </div>
        <div class="col-md-2 text-center">
          <img src="{% static 'img/logo-justvirtual.jpg' %}" alt="Just Virtual">
        </div>
        <div class="col-md-2 text-center">
          <img src="{% static 'img/logo-pimpadas.jpg' %}" alt="Pimpadas">
        </div>
      </div>
    </div>
  </section>

  <section id="contato" class="contato-content">

    <h3 class="text-center">+ CONTATO +</h3>

    <div class="row text-center">
      <div class="col-md-2 col-md-offset-3">
        <h4><i class="fa fa-facebook" aria-hidden="true"></i> Página no Facebook:</h4>
        <img class="qr-code" src="https://api.qrserver.com/v1/create-qr-code/?size=130x130&bgcolor=000000&color=ffffff&data=https://www.facebook.com/8Prospera/">
      </div>
      <div class="col-md-2">
        <h4><i class="fa fa-facebook" aria-hidden="true"></i> Grupo no Facebook:</h4>
        <img class="qr-code" src="https://api.qrserver.com/v1/create-qr-code/?size=130x130&bgcolor=000000&color=ffffff&data=https://www.facebook.com/groups/laboriosa89/">
      </div>
      <div class="col-md-2">
        <h4><i class="fa fa-whatsapp" aria-hidden="true"></i> Grupo no Whatsapp:</h4>
        <img class="qr-code" src="https://api.qrserver.com/v1/create-qr-code/?size=130x130&bgcolor=000000&color=ffffff&data=https://chat.whatsapp.com/G0Ax9M0bmZE1EDPS5lJwTf">
      </div>

      <div class="col-xs-12">
        <img class="logo" src="{% static 'img/prospera-footer.png' %}" alt="Prospera">
      </div>

    </div>

  </section>



</div>

{% endblock %}
