{% extends "base.html" %}
{% load staticfiles %}


{% block bodyclass %}class="landing-page"{% endblock %}
{% block content %}

<div id="landing-page">
  <section class="presentation-content">
    <img class="logo" src="{% static 'img/prospera-logo.png' %}" alt="Prospera">

    <div class="prospera-margin text-center">
      {% if not user.id %}
      <a id="btn-login" class="btn btn-prospera btn-lg" role="button">Entrar</a>
      <a id="btn-registro" class="btn btn-prospera btn-lg" role="button">Criar Conta</a>
      {% endif %}
    </div>

    <div class="prospera-margin text-center">
      <h3>Emissão de Prospers até agora:</h3>
      <div class="prsps-counter">
        <i class="fa fa-circle-o-notch fa-spin loading-spinner invert" data-url="{% url "prosper_total" %}"></i>
      </div>
    </div>

    <h3 class="text-center">Distribuição, Movimentação e Contribuição</h3>

    <div class="prospera-margin prsps-dist text-center container" style="overflow-x:auto; height:530px; overflow-y: scroll;">
      <i class="fa fa-circle-o-notch fa-spin loading-spinner" data-url="{% url "home_saldos" %}"></i>
    </div>

    <div class="exchanges prospera-margin text-center container">
      <p>Os prospers podem ser negociados entre as pessoas (nós, sujeitos) diretamente (P2P) ou através de exchanges:</p>
      <div class="bloco">
        <!-- <p>Relação de exchanges que já negociam o token:</p> -->
        <p>A partir do <strong>dia 02 de agosto</strong>, o prosper já poderá ser negociado na <strong>bolsa da braziliex.</strong><br>Enquanto isso, faça o seu cadastro no link abaixo.</p>
        <div><a href="https://braziliex.com/exchange/login.php" target="_blank">BRAZILIEX</a></div>
      </div>
    </div>
  </section>

  <section id="quem-somos" class="quemsomos-content">
    <h3 class="text-center">+ QUEM SOMOS +</h3>
    <div class="video-container container">
      <!-- <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/118732545" ></iframe>
          </div>
        </div>
      </div> -->

      <div class="text-container row">
        <p class="col-md-6 text-justify">Prospera é uma organização aberta, inclusiva, transparente e que segue um modelo econômico exponencial e abundante. Não é empresa, ONG, instituto, cooperativa ou fundação. Não tem uma pessoa jurídica. Não é uma instituição de nenhuma natureza. Prospera é uma ambiente: pessoas desenvolvendo uma determinada cultura e interagindo em espaços físicos e virtuais. E nesse ambiente as pessoas empreendem, investem e trabalham desenvolvendo a cultura da abundância, sem nenhum procedimento de exclusão que diminua o campo de possibilidades: não tem processo seletivo, não tem decisão coletiva, não tem cargos ou funções, não tem caixa coletivo, não tem definição de orçamento ou metas, não tem planejamento, não tem um objetivo único. Qualquer pessoa é bem vinda para interagir livremente com as outras pessoas.</p>
        <p class="col-md-6 text-justify">A livre interação acontece em comunidades de interesse: negociação de criptomoedas, venda de comidas artesanais, produção de cervejas, publicação de livros, comercialização de energia limpa e prestação de serviços via web são algumas delas. Nas comunidades, as pessoas criam objetos com o objetivo de gerar renda para elas mesmas. E quem cria o objeto define a regra de negócio. A receita dos objetos é das pessoas e não do ambiente, e essa percepção de abundância faz emergir o comportamento colaborativo. O propósito da Prospera é ser um ambiente que possibilite geração de recursos materiais necessários para a sobrevivência das pessoas sem comprometer a liberdade e a criatividade delas que, por sua vez, geram os recursos imateriais necessários para a sua evolução. Integrando sobrevivência e evolução, a Prospera gera prosperidade.</p>
      </div>

      <div class="companies-container text-center" style="margin-top: 50px;">
        <a style="padding: 15px 128px;" href="{% static 'pdf/wtf_Prospera.pdf' %}" target="_blank" class="btn btn-prospera btn-lg" role="button">Saiba Mais</a>
        <a href="{% url 'nos_list' %}" class="btn btn-prospera btn-lg" role="button">Veja as comunidades</a>
      </div>
    </div>
  </section>

  <section id="contato" class="contato-content">

    <h3 class="text-center">+ CONTATO +</h3>

    <div class="row text-center">
      <div class="col-md-2 col-md-offset-3">
        <a href="https://www.facebook.com/8Prospera/" target="_blank"><h4><i class="fa fa-facebook" aria-hidden="true"></i> Página no Facebook</h4></a>
        <img class="qr-code" src="https://api.qrserver.com/v1/create-qr-code/?size=130x130&bgcolor=000000&color=ffffff&data=https://www.facebook.com/8Prospera/">
      </div>
      <div class="col-md-2">
        <a href="https://www.facebook.com/groups/laboriosa89/" target="_blank"><h4><i class="fa fa-facebook" aria-hidden="true"></i> Grupo no Facebook</h4></a>
        <img class="qr-code" src="https://api.qrserver.com/v1/create-qr-code/?size=130x130&bgcolor=000000&color=ffffff&data=https://www.facebook.com/groups/laboriosa89/">
      </div>
      <div class="col-md-2">
        <a href="https://chat.whatsapp.com/G0Ax9M0bmZE1EDPS5lJwTf" target="_blank"><h4><i class="fa fa-whatsapp" aria-hidden="true"></i> Grupo no Whatsapp</h4></a>
        <img class="qr-code" src="https://api.qrserver.com/v1/create-qr-code/?size=130x130&bgcolor=000000&color=ffffff&data=https://chat.whatsapp.com/G0Ax9M0bmZE1EDPS5lJwTf">
      </div>

      <div class="col-xs-12">
        <img class="logo" src="{% static 'img/prospera-footer.png' %}" alt="Prospera">
      </div>

    </div>

  </section>



</div>

{% endblock %}
