{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}class="no-detail"{% endblock %}
{% block content %}

<div id="no-detail">
  <section class="descricao-content container">
    <div class="row">
      <h1>+ Nó +</h1>
      <div class="col-md-2">
      {% if nodo.imagem %}
        <img class="no-imagem" src="{{ nodo.imagem.url }}" alt="...">
        {% else %}
        <img class="no-imagem" src="{% static 'img/default_objeto.jpg' %}" alt="...">
      {% endif %}
      </div>
      <div class="col-md-6">
        <h1 class="no-title">{{ nodo.user }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <p class="quem-sou">{{ nodo.quem_sou }} Em 1937 o economista Ronald Coase publicou o artigo A Natureza da Firma: origem, evolução e desenvolvimento, onde afirma que as organizações surgem para atuar nos mercados com o objetivo de diminuir os custos de transação (custos de busca e aquisição, de contratação e controle, de coordenação e de confiança). Em 1937 o economista Ronald Coase publicou o artigo A Natureza da Firma: origem, evolução e desenvolvimento, onde afirma que as organizações surgem para atuar nos mercados com o objetivo de diminuir os custos de transação (custos de busca e aquisição, de contratação e controle, de coordenação e de confiança).</p>
      </div>
    </div>
  </section>

  <section>
    <div class="prospera-margin prsps-dist text-center container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Quanto ganhou<br> com a Prospera</th>
            <th>Quanto contribuiu<br> para o nós</th>
            <th>Quanto recebeu<br> como nós</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row"><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td>100.000</td>
            <td>10.000</td>
            <td>20.000</td>
          </tr>
        </tbody>
      </table>

      <h3>Transações</h3>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Age</th>
            <th>From</th>
            <th></th>
            <th>To</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">4min ago</td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><span class="in">IN</span></td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><strong>0.2644934</strong> PRSP</td>
          </tr>
          <tr>
            <td scope="row">4min ago</td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><span class="out">IN</span></td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><strong>0.2644934</strong> PRSP</td>
          </tr>
          <tr>
            <td scope="row">4min ago</td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><span class="out">IN</span></td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><strong>0.2644934</strong> PRSP</td>
          </tr>
          <tr>
            <td scope="row">4min ago</td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><span class="in">IN</span></td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><strong>0.2644934</strong> PRSP</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

  <!-- <h2>Prospera</h2>
  <p>Olá {{ user.username }}!</p>

  <form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">Salvar</button>
  </form>

  <h3>GitHub</h3>
  {% if github_login %}
    <p>Connected as <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'github' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from GitHub</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from GitHub</button>
      <p style="color: red">You must <a href="{% url 'no_change_password' %}">define a password</a> for your account before disconnecting from Github.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'github' %}">Connect to GitHub</a>
  {% endif %}

  <h3>Twitter</h3>
  {% if twitter_login %}
    <p>Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Twitter</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Twitter</button>
      <p style="color: red">You must <a href="{% url 'no_change_password' %}">define a password</a> for your account before disconnecting from Twitter.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'twitter' %}">Connect to Twitter</a>
  {% endif %}

  <h3>Facebook</h3>
  {% if facebook_login %}
    <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Facebook</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Facebook</button>
      <p style="color: red">You must <a href="{% url 'no_change_password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'facebook' %}">Connect to Facebook</a>
  {% endif %}

  <h3>Google</h3>
  {% if google_login %}
    <p>Connected as {{ google_login.uid }}</p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Google</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Google</button>
      <p style="color: red">You must <a href="{% url 'no_change_password' %}">define a password</a> for your account before disconnecting from Google.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'google-oauth2' %}">Connect to Google</a>
  {% endif %}


  <br />

  <hr />

  <a href="{% url "no_change_password" %}">Alterar Senha</a>

  {% if user.nodos_set.all %}
  <h3>Nós Criados</h3>
    {% for nodo in user.nodos_set.all %}
      <a href="{% url "nos_detail" nodo.slug %}">{{ nodo.nome }}</a>
    {% endfor %}
  {% endif %}

  {% if user.objeto_set.all %}
  <h3>Objeto Criados</h3>
    {% for o in user.objeto_set.all %}
      <a href="{% url "object_detail" o.nodos.slug o.slug %}">{{ o.nome }}</a>
    {% endfor %}
  {% endif %} -->

{% endblock %}
