{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}class="no-detail"{% endblock %}
{% block content %}

<div id="no-detail">
  <section class="descricao-content container">
    <div class="row">
      <a href="#" onclick="window.history.go(-1); return false;">
        <img class="voltar" src="{% static 'img/voltar_2.png' %}" alt="Voltar">
      </a>
      <h1 style="margin-bottom: 80px;">+ Nó +</h1>
      <div class="col-md-2">
      {% if nodo.imagem %}
        <img class="no-imagem" src="{{ nodo.imagem.url }}" alt="...">
        {% else %}
        <img class="no-imagem" src="{% static 'img/default_objeto.jpg' %}" alt="...">
      {% endif %}
      </div>
      <div class="col-md-8">
        <h1 class="no-title">{{ nodo.user }}</h1>
      </div>
      <div class="col-md-2 text-center">
        {% if nodo.get_tracking_url %}
        <p class="qr-title">Endereço qr:</p>
        <img class="no-qr" src="{{ nodo.get_tracking_url }}" alt="">
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="quem-sou text-justify">{{ nodo.quem_sou|default:""|linebreaks }}</div>
        {% if nodo.user == user %}
          <a href="{% url "no_update" %}" class="btn btn-prospera btn-edit" role="button">Editar</a>
        {% endif %}
      </div>
    </div>
  </section>

  <section>
    <div class="prospera-margin prsps-dist text-center container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Quanto ganhou<br> com a Prospera</th>
            <th>Quanto contribuiu<br> para o nós</th>
            <th>Quanto recebeu<br> como nós</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row"><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td>100.000</td>
            <td>10.000</td>
            <td>20.000</td>
          </tr>
        </tbody>
      </table>

      <h3 style="margin-top: 80px;">Transações</h3>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Age</th>
            <th>From</th>
            <th></th>
            <th>To</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">4min ago</td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><span class="in">IN</span></td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><strong>0.2644934</strong> PRSP</td>
          </tr>
          <tr>
            <td scope="row">4min ago</td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><span class="out">OUT</span></td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><strong>0.2644934</strong> PRSP</td>
          </tr>
          <tr>
            <td scope="row">4min ago</td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><span class="out">OUT</span></td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><strong>0.2644934</strong> PRSP</td>
          </tr>
          <tr>
            <td scope="row">4min ago</td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><span class="in">IN</span></td>
            <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
            <td><strong>0.2644934</strong> PRSP</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  {% if nodo.contato_facebook or nodo.contato_whatsapp or nodo.contato_zoom  %}
  <section class="contato-content">
    <div class="text-center">
      {% if nodo.contato_facebook %}
      <a href="{{ nodo.contato_facebook }}" target="_blank"><i class="fa fa-facebook item-contato" aria-hidden="true"></i></a>
      {% endif %}
      {% if nodo.contato_whatsapp %}
      <a href="{{ nodo.contato_whatsapp }}" target="_blank"><i class="fa fa-whatsapp item-contato" aria-hidden="true"></i></a>
      {% endif %}
      {% if nodo.contato_zoom %}
      <a href="{{ nodo.contato_zoom }}" target="_blank"><img class="zoom item-contato" src="{% static 'img/zoom.png' %}" alt="Zoom"></a>
      {% endif %}
    </div>
  </section>
  {% endif %}
</div>

{% endblock %}
