{% extends "base.html" %}
{% load staticfiles %}

{% block bodyclass %}class="no-detail"{% endblock %}
{% block content %}

<div class="no-edit create">
  <section class="descricao-content container">
    <div class="row">
      <h1 class="col-md-10 col-lg-12 col-md-offset-1 col-lg-offset-0">+ Editar Perfil +</h1>
    </div>
    <div class="row">
      <form class="prospera-margin" enctype="multipart/form-data" method="POST">
          {% if form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for err in form.non_field_errors %}
              {{ err }}
            {% endfor %}
          </div>
        {% endif %}
        {% csrf_token %}
        <div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" name="username" id="username" class="form-control" value="{{ user }}" disabled="true" style="text-transform:uppercase;">
              <span class="help-block"></span>
            </div>

            <div class="form-group{% if form.quem_sou.errors %} has-error{% endif %}">
              <label for="quem_sou">Descrição</label>
              <textarea type="text" name="quem_sou" id="quem_sou" class="form-control">{{ form.quem_sou.value|default:"" }}</textarea>
              <span class="help-block">{{ form.quem_sou.errors }}</span>
            </div>

            <div class="form-group{% if form.carteira.errors %} has-error{% endif %}">
              <label for="carteira">Hash da Carteira</label>
              <input type="text" name="carteira" id="carteira" class="form-control" value="{{ form.carteira.value|default:"" }}">
              <span class="help-block">{{ form.carteira.errors }}</span>
            </div>


            <div class="form-group{% if form.telefone.errors %} has-error{% endif %}">
              <label for="telefone">Contato WhatsApp</label>
              <input type="text" name="telefone" id="telefone" class="form-control" value="{{ form.telefone.value|default:"" }}">
              <span class="help-block">{{ form.telefone.errors }}</span>
            </div>

            <div class="form-group{% if form.contato_facebook.errors %} has-error{% endif %}">
              <label for="contato_facebook">Link para perfil no Facebook</label>
              <input type="text" name="contato_facebook" id="contato_facebook" class="form-control" value="{{ form.contato_facebook.value|default:"" }}">
              <span class="help-block">{{ form.contato_facebook.errors }}</span>
            </div>

            <div class="form-group{% if form.contato_zoom.errors %} has-error{% endif %}">
              <label for="contato_zoom">Link para o Zoom</label>
              <input type="text" name="contato_zoom" id="contato_zoom" class="form-control" value="{{ form.contato_zoom.value|default:"" }}">
              <span class="help-block">{{ form.contato_zoom.errors }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="upload-background round">
              {% if form.imagem.value %}
                <img class="inline-block upload-image" src="{{ form.imagem.value.url }}" alt="Prsp">
              {% else %}
                <img class="inline-block upload-image" src="{% static 'img/prospera-modal.png' %}" alt="Prsp">
              {% endif %}
            </div>
            <label>Upload da Imagem</label>
            <p class="ex">Best Fit: 400px x 400px</p>
            <p class="ex">Tamanho máximo 2MB</p>
            <div class="form-group {% if form.imagem.errors %} has-error{% endif %}">
              <label for="id_imagem" class="file-upload btn btn-prospera btn-lg">Selecionar</label>
              <input id="id_imagem" class="form-control" name="imagem" type="file">
              <span class="help-block">{{ form.imagem.errors }}</span>
            </div>
          </div>
          <div class="col-xs-12">
            <button class="btn btn-prospera btn-lg" type="submit">{% if action %} {{action}} {% else %}Criar {% endif %}</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}
