{% extends "base.html" %}
{% load staticfiles %}


{% block bodyclass %}class="comunidades"{% endblock %}
{% block content %}

<div id="object">
  <section class="descricao-content container">
    <div class="row">
      <div class="col-md-10 col-lg-12 col-md-offset-1 col-lg-offset-0">
        <h1>+ Sujeitos + <span style="font-size: 12px;letter-spacing: 2px;">[{{ object_list|length }}]</span></h1>
      </div>
      <div class="col-md-8 col-lg-10 col-md-offset-1 col-lg-offset-0">
        <p class="text-justify">
          No modelo industrial, o foco é no objeto, no objetivo. As métricas são da produtividade e, como a sobrevivência se dá a partir da produção, tudo é pautado pela eficiência. Na Prospera, soma-se ao objetivo o subjetivo, o sujeito: a pessoa, o NÓ do NÓS. Com isso, o olhar da organização não se limita à sobrevivência: inclui a evolução.
        </p>
      </div>
      <div class="inline-block hidden-sm hidden-xs">
        <img class="" src="{% static 'img/prospera-circle.png' %}" alt="Prospera">
      </div>
    </div>
  </section>

  <section class="objetos-content container">
    <div class="row text-center">
      <div class="objetos-list">
        {% for object in object_list %}
        <div class="col-xs-6 col-md-2 object-item">
          <a class="" href="{% url 'no_detail_public' object.id %}">
            {% if object.imagem %}
              <img class="objeto-imagem" src="{{ object.imagem.url }}" alt="...">
            {% else %}
              <img class="objeto-imagem" src="{% static 'img/default_objeto.jpg' %}" alt="...">
            {% endif %}
            <p class="sub">{{ object.user }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>

{% endblock %}
