{% extends "base.html" %}
{% block content %}

<div id="presentation">
    <h1>Nós</h1>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x300/e8117f/ffffff" alt="...">
          <div class="caption">
            <h3>Apresentação Nós</h3>
            <p>Progredir; melhorar de condição; ocasionar o crescimento ou a melhoria em: o país prosperou no último ano; as vendas prosperaram-se.</p>
            <p><a href="{% url 'nos_detail' %}" class="btn btn-default" role="button">Saiba Mais</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x300/e8117f/ffffff" alt="...">
          <div class="caption">
            <h3>Apresentação Nós</h3>
            <p>Progredir; melhorar de condição; ocasionar o crescimento ou a melhoria em: o país prosperou no último ano; as vendas prosperaram-se.</p>
            <p><a href="{% url 'nos_detail' %}" class="btn btn-default" role="button">Saiba Mais</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x300/e8117f/ffffff" alt="...">
          <div class="caption">
            <h3>Apresentação Nós</h3>
            <p>Progredir; melhorar de condição; ocasionar o crescimento ou a melhoria em: o país prosperou no último ano; as vendas prosperaram-se.</p>
            <p><a href="{% url 'nos_detail' %}" class="btn btn-default" role="button">Saiba Mais</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x300/e8117f/ffffff" alt="...">
          <div class="caption">
            <h3>Apresentação Nós</h3>
            <p>Progredir; melhorar de condição; ocasionar o crescimento ou a melhoria em: o país prosperou no último ano; as vendas prosperaram-se.</p>
            <p><a href="{% url 'nos_detail' %}" class="btn btn-default" role="button">Saiba Mais</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x300/e8117f/ffffff" alt="...">
          <div class="caption">
            <h3>Apresentação Nós</h3>
            <p>Progredir; melhorar de condição; ocasionar o crescimento ou a melhoria em: o país prosperou no último ano; as vendas prosperaram-se.</p>
            <p><a href="{% url 'nos_detail' %}" class="btn btn-default" role="button">Saiba Mais</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x300/e8117f/ffffff" alt="...">
          <div class="caption">
            <h3>Apresentação Nós</h3>
            <p>Progredir; melhorar de condição; ocasionar o crescimento ou a melhoria em: o país prosperou no último ano; as vendas prosperaram-se.</p>
            <p><a href="{% url 'nos_detail' %}" class="btn btn-default" role="button">Saiba Mais</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x300/e8117f/ffffff" alt="...">
          <div class="caption">
            <h3>Apresentação Nós</h3>
            <p>Progredir; melhorar de condição; ocasionar o crescimento ou a melhoria em: o país prosperou no último ano; as vendas prosperaram-se.</p>
            <p><a href="{% url 'nos_detail' %}" class="btn btn-default" role="button">Saiba Mais</a></p>
          </div>
        </div>
      </div>

    </div>
</div>

{% endblock %}
