{% extends "base.html" %}
{% block content %}

<div id="presentation">
    <h1>Nós</h1>

    <div class="row">
      {% for nos in object_list %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x300/e8117f/ffffff" alt="...">
          <div class="caption">
            <h3>{{ nos.nome }}</h3>
            <p>{{ nos.descricao }}</p>
            <p><a href="{% url 'nos_detail' nos.slug %}" class="btn btn-default" role="button">Saiba Mais</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
