{% extends "base.html" %}
{% load staticfiles %}

{% block bodyclass %}class="comunidade-detail"{% endblock %}
{% block content %}
<div id="nos-detail">
    <section class="descricao-content">
      <h1>+ Comunidade +</h1>
        <ul class="media-list">
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        {% if nos.imagem_detalhes %}
                        <img class="media-object" src="{{ nos.imagem_detalhes.url }}" alt="{{ nos.nome }}" title="{{ nos.nome }}">
                        {% else %}
                        <img class="media-object" src="http://placehold.it/500x300/ffffff/e8117f/" alt="{{ nos.nome }}" title="{{ nos.nome }}">
                        {% endif %}
                    </a>
                </div>
                <div class="media-body">
                    <h1 class="title">{{ nos.nome }}</h1>
                    <h4 class="owner media-heading">Criado por: <a>{{ nos.criado_por }}</a></h4>
                    <p class="description">{{ nos.descricao|default_if_none:"" }}</p>

                    <br />
                    {% if nos.criado_por == user %}
                    <a href="{% url "nos_update" nos.slug %}" class="btn btn-default" role="button">Editar</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </section>

    <section class="objetos-content">
        <h1>_Objetos</h1>
        <div class="row">
            {% for objeto in nos.objeto_set.all %}
            <div class="col-xs-6 col-md-2">
                <a href="{% url 'object_detail' nos.slug objeto.slug %}" class="thumbnail">
                    {% if objeto.imagem_listagem %}
                    <img src="{{ objeto.imagem_listagem.url }}" alt="{{ objeto.nome }}" title="{{ objeto.nome }}">
                    {% else %}
                    <img src="http://placehold.it/50x50" alt="{{ objeto.nome }}" title="{{ objeto.nome }}">
                    {% endif %}
                </a>
            </div>
            {% empty %}
            <p>Sem objetos para este Nós.</p>
            {% endfor %}
            <br />
            <a href="{% url "object_create" nos.slug %}">Novo Objeto</a>
        </div>
    </section>

    {% if nos.contato_facebook or nos.contato_whatsapp %}
    <section class="contato-content">
      <div class="text-center">
        {% if nos.contato_facebook %}
        <a href="{{ nos.contato_facebook }}" target="_blank"><i class="fa fa-facebook item-contato" aria-hidden="true"></i></a>
        {% endif %}
        {% if nos.contato_whatsapp %}
        <a href="{{ nos.contato_whatsapp }}" target="_blank"><i class="fa fa-whatsapp item-contato" aria-hidden="true"></i></a>
        {% endif %}
        <a href="{{ nos.contato_whatsapp }}" target="_blank"><img class="zoom item-contato" src="{% static 'img/zoom.png' %}" alt="Zoom"></a>
      </div>
    </section>
    {% endif %}

</div>

{% endblock %}
