{% extends "base.html" %}
{% block content %}

<div id="presentation-detail">
    <h1>{{ nos.nome }}</h1>

    <section>
        <ul class="media-list">
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        {% if nos.imagem_detalhes %}
                        <img class="media-object" src="{{ nos.imagem_detalhes.url }}" alt="...">
                        {% else %}
                        <img class="media-object" src="http://placehold.it/500x300/e8117f/ffffff" alt="...">
                        {% endif %}
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ nos.titulo }}</h4>
                    {{ nos.descricao|default_if_none:"" }}
                </div>
            </li>
        </ul>
        <hr />
    </section>

    <section>
        <h2>Objetos</h2>
        <div class="row">
            {% for objeto in nos.objeto_set.all %}
            <div class="col-xs-6 col-md-2">
                <a href="{% url 'object_detail' nos.slug objeto.slug %}" class="thumbnail">
                    {% if objeto.imagem_listagem %}
                    <img src="{{ objeto.imagem_listagem.url }}" alt="{{ objeto.nome }}">
                    {% else %}
                    <img src="http://placehold.it/50x50" alt="{{ objeto.nome }}">
                    {% endif %}
                </a>
            </div>
            {% empty %}
            <p>Sem objetos para este Nós.</p>
            {% endfor %}
            <br />
            <a href="{% url "object_create" nos.slug %}">Novo Objeto</a>
        </div>
        <hr />
    </section>

    {% if nos.contato_facebook or nos.contato_whatsapp %}
    <section>
        <h2>Contato</h2>
        {% if nos.contato_facebook %}
        <a href="{{ nos.contato_facebook }}" class="btn btn-default" role="button">Facebook</a>
        {% endif %}
        {% if nos.contato_whatsapp %}
        <a href="{{ nos.contato_whatsapp }}" class="btn btn-default" role="button">Whatsapp</a>
        {% endif %}
    </section>
    {% endif %}

</div>

{% endblock %}
