{% extends "base.html" %}
{% load staticfiles %}
{% block bodyclass %}class="objeto-detail"{% endblock %}
{% block content %}
<div id="object-detail">
    <section class="descricao-content container">
      <div class="row">
        <a href="{% url 'nos_detail' objeto.nodos.slug %}">
          <img class="voltar" src="{% static 'img/voltar.png' %}" alt="Voltar">
        </a>
        <h1>+ OBJETO +</h1>
        <div class="col-md-4">
        {% if objeto.imagem %}
          <img class="objeto-imagem" src="{{ objeto.imagem.url }}" alt="...">
          {% else %}
          <img class="objeto-imagem" src="{% static 'img/default_objeto.jpg' %}" alt="...">
        {% endif %}
        </div>
        <div class="col-md-6">
          <h1 class="objeto-title">{{ objeto.nome }}</h1>
          <h4 class="owner media-heading">Criado por: <a href="{% url "no_detail_public" objeto.criado_por.id %}">{{ objeto.criado_por }}</a></h4>
        </div>
      </div>
        {% if objeto.criado_por == user %}
        <a href="{% url "object_update" objeto.nodos.slug objeto.slug %}" class="btn btn-prospera btn-edit" role="button">Editar</a>
        {% endif %}
        <!-- <br /> -->
    </section>

    <section class="container">
      <p class="description text-justify">{{ objeto.descricao }}</p>
    </section>

    {% if objeto.contato_facebook or objeto.contato_whatsapp or objeto.contato_zoom  %}
    <section class="contato-content">
      <div class="text-center">
        {% if objeto.contato_facebook %}
        <a href="{{ objeto.contato_facebook }}" target="_blank"><i class="fa fa-facebook item-contato" aria-hidden="true"></i></a>
        {% endif %}
        {% if objeto.contato_whatsapp %}
        <a href="{{ objeto.contato_whatsapp }}" target="_blank"><i class="fa fa-whatsapp item-contato" aria-hidden="true"></i></a>
        {% endif %}
        {% if objeto.contato_zoom %}
        <a href="{{ objeto.contato_zoom }}" target="_blank"><img class="zoom item-contato" src="{% static 'img/zoom.png' %}" alt="Zoom"></a>
        {% endif %}
      </div>
    </section>
    {% endif %}
</div>

{% endblock %}
