{% extends "base.html" %}
{% load staticfiles %}


{% block bodyclass %}class="comunidades"{% endblock %}
{% block content %}

<div id="object">
  <section class="descricao-content container">
    <div class="row">
      <div class="col-md-10 col-lg-12 col-md-offset-1 col-lg-offset-0">
        <h1>+ Objetos +</h1>
      </div>
      <div class="col-md-8 col-lg-10 col-md-offset-1 col-lg-offset-0">
        <p class="text-justify">
          São a fonte de receita financeira dos sujeitos que integram a comunidade. Têm uma natureza comum. Não são de propriedade da comunidade, mas impactam na vida de todos que a integram. Pertencem aos sujeitos que, em interação cocriativa, criam novos objetos e formas de comercialização, expandindo assim suas possibilidades de receitas.
        </p>
      </div>
      <div class="inline-block hidden-sm hidden-xs">
        <img class="" src="{% static 'img/prospera-circle.png' %}" alt="Prospera">
      </div>
    </div>
  </section>

  <section class="objetos-content container">
    <div class="row text-center">
      <div class="objetos-list">
        {% for object in object_list %}
        <div class="col-xs-6 col-md-2">
          <a class="" href="{% url 'object_detail' object.nodos.slug  object.slug %}">
            {% if object.imagem %}
              <img class="objeto-imagem" src="{{ object.imagem.url }}" alt="...">
            {% else %}
              <img class="objeto-imagem" src="{% static 'img/default_objeto.jpg' %}" alt="...">
            {% endif %}
            <p class="sub">{{ object.nome }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>

{% endblock %}
