<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Saldo em PRSP</th>
      {% comment %}
      <th>Quanto contribuiu<br> para o nós</th>
      <th>Quanto recebeu<br> como nós</th>
      {% endcomment %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><strong>{{ nodo.carteira }}</strong></td>
      <td>{{ quanto_ganhou_com_a_prospera|floatformat:5 }}</td>
      {% comment %}
      <td>{{ quanto_contribuiu_com_a_prospera|floatformat:5 }}</td>
      <td>{{ quanto_recebeu_como_nos|floatformat:5 }}</td>
      {% endcomment %}
    </tr>
  </tbody>
</table>
