<h3 style="margin-top: 80px;">Transações</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Age</th>
      <th>From</th>
      <th></th>
      <th>To</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {% for t in transactions %}
    <tr>
      <td scope="row">{{ t.date|timesince }}</td>
      <td><strong>{{ t.from }}</strong></td>
      <td><span class="{{ t.in_or_out }}">{{ t.in_or_out|upper }}</span></td>
      <td><strong>{{ t.to }}</strong></td>
      <td><strong>{{ t.value|floatformat:5 }}</strong> PRSP</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
