{% load staticfiles %}
<div class="row text-center">
  <!-- <div class="content col-md-6"> -->
    <img class="inline-block upload-image" src="{% static 'img/prospera-modal.png' %}" alt="Prsp">
    <h2>LOGIN</h2>
    <form action="{% url "login" %}" method="post" class="{% if not noajax %}formAccessAjax{% endif %}" id="formLoginModal">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" id="username" name="username" placeholder="USUÁRIO" class="form-control" />
        <p class="help-block"></p>
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" placeholder="SENHA" class="form-control" />
        <p class="help-block"></p>
        <span class="help-block forgot"><a href="" style="text-transform: none;">Esqueci minha senha</a></span>
      </div>
      <div class="has-error">
        <p id="__all__" class="help-block"></p>
      </div>
      <button class="btn btn-prospera btn-lg" type="submit" style="margin-top: 40px;">Entrar</button>
    </form>
    <div class="col-xs-12">
        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i>  Entrar com Facebook</a>
    </div>
  <!-- </div> -->
</div>
