<h3 style="margin-top: 80px;">Transações</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Age</th>
      <th>From</th>
      <th></th>
      <th>To</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">4min ago</td>
      <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
      <td><span class="in">IN</span></td>
      <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
      <td><strong>0.2644934</strong> PRSP</td>
    </tr>
    <tr>
      <td scope="row">4min ago</td>
      <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
      <td><span class="out">OUT</span></td>
      <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
      <td><strong>0.2644934</strong> PRSP</td>
    </tr>
    <tr>
      <td scope="row">4min ago</td>
      <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
      <td><span class="out">OUT</span></td>
      <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
      <td><strong>0.2644934</strong> PRSP</td>
    </tr>
    <tr>
      <td scope="row">4min ago</td>
      <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
      <td><span class="in">IN</span></td>
      <td><strong>1P2B6KPTC73uJcBLVwKG5rPxkxn9peVw4V</strong></td>
      <td><strong>0.2644934</strong> PRSP</td>
    </tr>
  </tbody>
</table>
