{% load static %}
<!--

(_(
/_/'_____/)
"  |      |
   |""""""| Powered by bode.io

-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Prospera</title>
    <meta name="author" content="Bode.io">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/base.min.css" %}?v=1.1" rel="stylesheet">
</head>
<body {% block bodyclass %}{% endblock %}>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              MENU
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a class="scroll" href="{% url 'home' %}">Prospera</a></li>
              <li><a class="scroll" href="{% url 'home' %}#quem-somos">Quem Somos</a></li>
              <li><a class="scroll" href="{% url 'nos_list' %}">Comunidades</a></li>
              <li><a class="scroll" href="{% url 'home' %}#contato">Contato</a></li>
              {% if user.id %}
              <li>
                <a href="#" class="scroll {% if user.nodo.imagem %}profile{% endif %}" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if user.nodo.imagem %}
                    <img src="{{ user.nodo.imagem.url }}" class="profile-imagem"><span class="caret"></span>
                  {% else %}
                    {{ user }}
                  {% endif %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li><a href="{% url "no_detail" %}">Perfil</a></li>
                  <li><a href="{% url "logout" %}">Sair</a></li>
                </ul>
              </li>
              {% else %}
                <li><a href="#" class="scroll" id="nav-login">Entrar</a></li>
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <div class="content">
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
          </div>
          {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}

      {% if not user.pessoa %}
        <div class="modal fade login-block" id="modalLogin" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% include 'pages/partial_login.html' %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if not user.pessoa %}
        <div class="modal fade login-block" id="modalRegister" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% include 'pages/partial_register.html' %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

    </div>
    <script src="{% static "dist/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "dist/bootstrap.min.js" %}"></script>
    <script src="{% static "dist/alert.js" %}"></script>
    <script src="{% static "dist/main.min.js" %}"></script>
    <script src="{% static "dist/login_registro.min.js" %}"></script>
    {% block customjs %}{% endblock %}

    <script>
      $(document).ready(function() {
        $('#btn-login, #nav-login').on('click', function(e) {
          $('#modalLogin').modal('show');
        });
        $('#btn-registro').on('click', function(e) {
          $('#modalRegister').modal('show');
        });
      });
    </script>
</body>
