{% load static %}
<!--

(_(
/_/'_____/)
"  |      |
   |""""""| Powered by bode.io

-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Prospera</title>
    <meta name="author" content="Bode.io">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/base.min.css" %}" rel="stylesheet">
</head>
<body {% block bodyclass %}{% endblock %}>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              MENU
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a class="scroll" href="{% url 'home' %}">Prospera</a></li>
              <li><a class="scroll" href="#programacao">Quem Somos</a></li>
              <li><a class="scroll" href="{% url 'nos_list' %}">Comunidades</a></li>
              <li><a class="scroll" href="#contato">Contato</a></li>
              <li><a class="scroll" href="{% url 'login' %}">Entrar</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <div class="content">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script src="{% static "js/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/alert.js" %}"></script>
    {% block customjs %}{% endblock %}
</body>
