{% load static %}
<!--

(_(
/_/'_____/)
"  |      |
   |""""""| Powered by bode.io

-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Prospera</title>
    <meta name="description" content="Organizações Modelo Abundante">
    <meta name="keywords" content="prospera,prsp,blockchain,eth,ethereum,brasil,brazil,">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Bode.io">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- OPEN GRAPH -->
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="www.prsp.me">
    <meta property="og:site_name" content="Prospera">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Prospera">
    <meta property="og:description" content="Organizações Modelo Abundante">
    <meta property="og:image" content="{% static 'img/og.jpg' %}">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/base.min.css" %}?v=1.2" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93955905-4', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body {% block bodyclass %}{% endblock %}>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <h4 class="header-title visible-xs" style="">PROSPERA</h4>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              MENU
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="prsp-menu">
                    <a href="#" class="scroll" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Prospera <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="{% url 'nos_list' %}">Comunidades</a></li>
                        <li><a href="{% url 'object_list' %}">Objetos</a></li>
                        <li><a href="{% url 'no_list' %}">Sujeitos</a></li>
                    </ul>
              </li>
              <li><a class="scroll" href="{% url 'home' %}">Home</a></li>
              <li><a class="scroll" href="{% url 'home' %}#quem-somos">Quem Somos</a></li>
              <li><a class="scroll" href="{% url 'home' %}#contato">Contato</a></li>
              <li><a class="scroll" href="https://zoom.us/j/7874523266" target="_blank">Zoom</a></li>
              {% if user.id %}
              <li class="prsp-menu">
                <a href="#" class="scroll {% if user.nodo.imagem %}profile{% endif %}" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if user.nodo.imagem %}
                    <img src="{{ user.nodo.imagem.url }}" class="profile-imagem"><span class="caret"></span>
                  {% else %}
                    {{ user }}
                  {% endif %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li><a href="{% url "no_detail_public" user.id %}">Perfil</a></li>
                  <li><a href="{% url "logout" %}">Sair</a></li>
                </ul>
              </li>
              {% else %}
                <li><a href="#" class="scroll" id="nav-login">Entrar</a></li>
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <div class="content">
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
          </div>
          {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}

      {% if not user.pessoa %}
        <div class="modal fade login-block" id="modalLogin" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% include 'pages/partial_login.html' %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if not user.pessoa %}
        <div class="modal fade login-block" id="modalRegister" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% include 'pages/partial_register.html' %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

    </div>
    <script src="{% static "dist/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "dist/bootstrap.min.js" %}"></script>
    <script src="{% static "dist/alert.js" %}"></script>
    <script src="{% static "dist/main.min.js" %}"></script>
    <script src="{% static "dist/login_registro.min.js" %}"></script>
    {% block customjs %}{% endblock %}

    <script>
      $(document).ready(function() {
        $('#btn-login, #nav-login').on('click', function(e) {
          $('#modalLogin').modal('show');
        });
        $('#btn-registro').on('click', function(e) {
          $('#modalRegister').modal('show');
        });
      });
    </script>
</body>
